html {
  scroll-behavior: smooth;
}

.bg {
  min-height: 100vh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.748) 0%, rgba(0, 0, 0, 0.473) 100%),
    url("/images/background.jpg");

  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.metal-text {

  background-image: url("/images/metal-text-bg.jpg");
  background-size: cover;
  background-position: center;

  color: transparent;

  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;

}



body {
  background-color: var(--bg-color);
  color: var(--text-primary);
  font-family: var(--font-main);
  overflow-x: hidden;
}

.container {
  width: min(1400px, 100%);
  margin-inline: auto;
  padding-inline: clamp(16px, 2vw, 24px);
}

.section {
  min-height: 100svh;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: clamp(16px, 3vh, 48px) 0;
}

.text-center {
  text-align: center;
}