html {
    scroll-behavior: smooth;
}

.bg {
    background-image: url('../images/background.jpg');
    background-size: cover;
}

body {
    background-color: var(--bg-color);
    color: var(--text-primary);
    font-family: var(--font-main);
    line-height: 1.6;
    overflow-x: hidden;
}

.container {
    width: min(1400px, 100%);
    margin-inline: auto;
    padding-inline: clamp(16px, 2vw, 24px);
}

.section {
    min-height: 100svh;
    padding: 100px 0;
    border: 1px solid rgba(255, 255, 255, 0.103);
    border-left: none;
    border-right: none;

}

 

.text-center {
    text-align: center;
}