html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--text-primary);
  font-family: var(--font-main);
  overflow-x: hidden;
}

.container {
  width: min(1500px, 90%);
}

.section {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: clamp(16px, 3vh, 48px) 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.103);
}

.text-center {
  text-align: center;
}
