html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    color: var(--text-primary);
    font-family: var(--font-main);
    line-height: 1.6;
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.section {
    padding: 100px 0;
    border: 1px solid rgba(255, 255, 255, 0.103);
    border-left: none;
    border-right: none;
}

.dark-bg {
    background: linear-gradient(to bottom, #000, #0c0c0c);
}

.text-center {
    text-align: center;
}
