@import url("./normalize.css");
@import url("./reset.css");


/* =======================================
   BASE TYPOGRAPHY SETTINGS
======================================= */
html {
  font-size: clamp(14px, 1.2vw, 18px);
}
html,
body {
  overflow-anchor: none;
}

:root {

  --root_padding: 9.25rem;
  --root_padding_top: 3.5rem;
}
:lang(hy),
:lang(ru) {
  --root_padding: 5rem;
}

/*scroll */
html,
body {
  height: auto;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #514836;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #514836;
}
/*scroll */
img {
  max-width: 100%;
  height: auto;
  display: block;
}



/* =======================================
   FULLSCREEN BLOCKS
======================================= */

section {
  min-height: 100svh; 
  padding: 0 var(--root_padding);
  background-color: black;
  color: white;
  border: 1px outset #514836;
}

.display-block {
  display: block;
}