.hero-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.hero-title {
    font-size: 5rem;
    font-weight: 300;
    letter-spacing: 20px;
    margin-bottom: 20px;
    color: var(--accent-gold);
}

.hero-subtitle {
    font-size: 1rem;
    color: var(--text-secondary);
    letter-spacing: 3px;
    max-width: 800px;
    text-align: left;

}