.hero-section {
  min-height: 83vh;
  background-image: url("/images/bg.jpeg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
}

.hero-title {
  font-size: 2.2rem;
  width: 50vw;
  text-align: left;
  line-height: 1;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.425);
  padding: 0 5vw;
}
