.hero-text {
  font-size: 1.4rem;
  font-weight: 600;
  color:rgb(255, 255, 255);
  
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.hero-logo img {
  width: 300px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  user-select: none;
  -webkit-user-drag: none;
}

section.hero-section.bg-yerevan {
  min-height: 70vh;
}

.bg-yerevan {

  background-image: url('/images/Yerevan.webp');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 3.2rem;
}