.hero-section {
  min-height: 60vh;
  background-image: url("/images/bg.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  overflow: hidden;
}

.hero-logo {
  width: 300px;
  height: auto;
  margin: 0 auto;
}

.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #ffffff;
  clip-path: polygon(0 0,
      53% 0,
      45% 101%,
      0 100%);
  z-index: 1;
}


.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  position: relative;
  z-index: 2;
}

.hero-title {
  font-size: 2.2rem;
  text-align: center;
  line-height: 1;
  width: 50vw;

  background: linear-gradient(135deg, #34445E 0%, #032096 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  padding: 0 5vw;
}