.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(92, 72, 72, 0.445);
    backdrop-filter: blur(10px);
    z-index: 1000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    
}

.nav-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
}

.logo {
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 5px;
    color: var(--accent-gold);
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-primary);
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: var(--transition);
}

.nav-links a:hover {
    color: var(--accent-gold);
}