.valuation-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: var(--desktop-padding);
}


.price-box {
  background: rgba(34, 34, 67, 0.248);
  padding: 30px 60px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);

}

.price-value {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.valuation-images {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.valuation-images img {
  object-fit: cover;
}