.price-box {
  display: inline-flex;
  align-items: center;
  gap: 30px;
  background: rgba(255, 255, 255, 0.03);
  padding: 30px 60px;
  border-radius: 10px;
  margin: 40px 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.price-value {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.valuation-images {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
}

.valuation-images img {
  width: 45%;
  max-height: 500px;
  object-fit: cover;
}


.section-title {
 color: rgba(254, 254, 254, 0.847)  ;
}