:root {
    font-size: clamp(15px, 1.1vw, 18px);

    --bg-color: #000000;
    --card-bg:#080808;
    --text-primary: #ffffff;
    --text-secondary: #d5d5d5;
    --accent-gold: #82690F;
    --accent-hover:#DADBEF;
    --font-main: 'Noto Sans Armenian', sans-serif;
    --transition: all 0.3s ease;
}
