:root {
    --desktop-padding: 24px;
    --mobile-padding: 10px;
    --card-bg: #151922b9;
    --text-primary: #ffffff;
    --text-secondary: #ffffff;
    --accent-gold: rgba(255, 217, 0, 0.34);
    --accent-hover: #DADBEF;
    --font-main: 'Noto Sans Armenian', sans-serif;
    --transition: all 0.3s ease;
}