:root {
    font-size: clamp(15px, 1.1vw, 18px);
    --card-bg: #151922b9;
    --text-primary: #ffffff;
    --text-secondary: #ffffffd0;
    --accent-gold: #031e5eb7;
    --accent-hover: #DADBEF;
    --font-main: 'Noto Sans Armenian', sans-serif;
    --transition: all 0.3s ease;
}